@{
    Layout = "_Layout";
}
@model ObjetoContenedorPrincipal
<!-- ======= Header ======= -->
<header id="header">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a asp-controller="Home" asp-action="Index">BKRJ Resort</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="SobreNosotros">Sobre Nosotros</a></li>
                <li><a asp-controller="Home" asp-action="Facilidades">Facilidades</a></li>
                <li><a asp-controller="Home" asp-action="ComoLlegar">¿Cómo Llegar?</a></li>
                <li><a asp-controller="Home" asp-action="Tarifas">Tarífas</a></li>
                <li><a asp-controller="Home" asp-action="ReservasEnLinea">Reservas en Línea</a></li>
                <li><a asp-controller="Home" asp-action="Contactenos">Cóntactenos</a></li>

            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Tarífas</h2>
                <ol>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>Tarífas</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Pricing Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="row">


                @foreach (var item in Model.Tarifas)
                {
                    <div class="col-md-4">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <figure>
                                    <img src="@item.Imagen" alt="imagen" class="img-fluid">
                                </figure>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3>@item.Nombre</h3>
                        <h4><sup>$</sup>@item.Precio<span> / persona</span></h4>
                        @item.Descripcion
                        <br></br>
                        <br></br>
                    </div>
                }
            </div>

        </div>

        
    </section><!-- End Pricing Section -->


</main><!-- End #main -->
