
@{
    ViewData["Title"] = "CambiarDescripcionJunior";
}

@model Tarifa
<!-- ======= Header ======= -->
<header id="header">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a asp-controller="Admin" asp-action="Index">BKRJ Resort</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a asp-controller="Admin" asp-action="Index">Home</a></li>
                <li><a asp-controller="Admin" asp-action="listadoReservaciones">Listado de reservaciones</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GESTIONAR HABITACIONES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="text-align: center">
                        <a class="dropdown-item" asp-controller="Admin" asp-action="verificarEstadoHabitaciones">Habitaciones</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="ConsultarHabitacion">Disponibilidad de habitacion</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="AdministrarHabitaciones">Administrar habitaciones</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GESTIONAR
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="text-align: center">
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Temporadas">Temporadas</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="OfertasAdmin">Ofertas</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        VISTAS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="text-align: center">
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Home">Home</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="SobreNosotros">Sobre Nosotros</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Facilidades">Facilidades</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="ComoLlegar">Como Llegar</a>

                    </div>
                </li>
                <li><a asp-controller="Home" asp-action="Index">Cerrar Sesión</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Administrar Habitaciones</h2>
                <ol>
                    <li><a asp-controller="Admin" asp-action="Index">Home</a></li>
                    <li>Administrar Habitaciones</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <br><br>
    <section id="features" class="features">
        <div class="container">
            <br />
            <div class="row">

                <div class="col-md-12">
                    <form asp-controller="Admin" asp-action="ActualizarTarifa" enctype="multipart/form-data">
                        <h4>Junior </h4> <br />
                        <input type="text" name="id" id="id" value="2" hidden />
                        <h4>Tarifa diaria:</h4>
                        <input type="text" name="Precio" id="Precio" value="@Model.Precio" required />
                        <br /><br /><br />
                        <textarea rows="6" cols="100" name="Descripcion" id="Descripcion" required>@Model.Descripcion</textarea>
                        <br /><br /><br />
                        <img src="@Model.Imagen" name="Imagen" id="Imagen" alt="Imagen standard" class="img img-fluid" width="400px" height="400px" />
                        <br /><br />
                        <input type="file" name="img" id="img">
                        <br /><br />
                        <button class="btn btn-success" type="submit">Aceptar</button>
                        <a class="btn btn-danger" asp-controller="Admin" asp-action="AdministrarHabitaciones">Cancelar</a>
                    </form>
                </div>
            </div>

        </div>


    </section><!-- End Pricing Section -->
    <br><br>

</main><!-- End #main -->
