@{
    Layout = "_Layout";
}
@model List<Habitacion>
<!-- ======= Header ======= -->
<header id="header">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a asp-controller="Admin" asp-action="Index">BKRJ Resort</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a asp-controller="Admin" asp-action="Index">Home</a></li>
                <li><a asp-controller="Admin" asp-action="verificarEstadoHabitaciones">Habitaciones</a></li>
                <li><a asp-controller="Admin" asp-action="ConsultarHabitacion">Disponibilidad de habitacion</a></li>
                <li><a asp-controller="Admin" asp-action="listadoReservaciones">Listado de reservaciones</a></li>
                <li><a asp-controller="Admin" asp-action="AdministrarHabitaciones">Administrar habitaciones</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GESTIONAR
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="text-align: center">
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Temporadas">Temporadas</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="OfertasAdmin">Ofertas</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        VISTAS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="text-align: center">
                        <a class="dropdown-item" asp-controller="Admin" asp-action="">Home</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="SobreNosotros">Sobre Nosotros</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="">Facilidades</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="">Como Llegar</a>

                    </div>
                </li>
                <li><a asp-controller="Home" asp-action="Index">Cerrar Sesión</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Habitaciones</h2>
                <ol>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>Habitaciones</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Pricing Section ======= -->
    <section id="features" class="features">
        <div class="container">
            <br />
            <div class="row">


                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <figure>
                                    <img src="@item.imagen" alt="imagen" class="img-fluid">
                                </figure>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <br> <br>
                        <h4>Número de habitación: @item.id_habitacion</h4>
                        <br>
                        <h4>Tipo de habitación: @item.nombre</h4>
                        <br>

                        @if (item.estadoHabitacion == 0)
                        {
                            <h4>Estado: Inactiva</h4>
                        }
                        else
                        {
                            @if (item.estado == 0)
                            {
                                <h4>Estado: Ocupada</h4>
                                <h5>Disponible a partir de @item.fecha_final</h5>
                            }
                            else
                            {
                                <h4>Estado: Disponible</h4>
                            }}



                        <br>
                        <br>
                    </div>
                }
            </div>

        </div>


    </section><!-- End Pricing Section -->


</main><!-- End #main -->
